.profile-pic {
	border-radius: 1%;
	height: 20vh;
	border: 0;
	position: relative;

	img {
		border-radius: 50%;
		max-width: 30vh;
		max-height: 30vh;
		width: auto;
		height: 24vh;
		display: block;
	}
}

.icon {
	img {
		width: auto;
		height: auto;
		min-height: 2em;
		max-height: 2em;
		display: block;
		padding-left: .25em;
		padding-top: .25em;
	}
}